{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}


{% block body %}
<div class="row">
  <div id="w">
    <div id="content" class="clearfix animated fadeIn">
      <div class="col-md-4">
        <div id="userphoto">
          <img src="{%  static 'profile.jpeg' %}" alt="profile" class="img-responsive"/>
        </div>
      </div>
      <div class="col-md-8">
          <form method="post">
            {% csrf_token %}
            <table id="myTable"style="font-size:18px; width:100%;">
              {{ form.as_table }}
            </table>
              <br>
              <a href="{% url 'LearningApp:edit_profile' %}">
                <button class="btn btn-xs btn-success" type="submit">Submit</button>
              </a>
          </form>
          <a href="{% url 'LearningApp:edit_profile' %}" style="float:right;">
            <button class="btn btn-xs btn-warning" type="button">Cancel</button>
          </a>
      </div>

    </div>
  </div>
</div>

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script type="text/javascript">
var help2 = document.getElementsByClassName("helptext");

    $( document ).ready(function() {
        console.log( "ready!" );
        help2[0].style.display = 'none';
    });

</script>


{% endblock %}
{% endblock %}
